@import "fonts.css";
[class*='error-']{
    position: relative;
    border-bottom:2px #ffe964 solid;
    font-size: 12px;
    min-width: 100px;
}
.feedback{
    border: 1px solid #aaa;
    border-radius: 2px;
    position: absolute;
    display: none;
    min-width: 140px;
    max-width: 195px;
    background-color: rgba(255,255,255,0.95);
    left: 0;
    top: 15px;
    z-index: 90;

}
.feedback div {
    padding: 3px;
    font-size: 12px;
    font-family: Roboto_Light;
}
[class*='error-']:hover .feedback{
    display: block;
}

.error-spelling{
    border-bottom-color: red;
}

.error-grammar{
    border-bottom-color: #38ea22;
}
.header {
    background-color: #aaaaaa;
}
.explanation a{
    cursor: pointer;
}
